.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  column-gap: 2.26rem;
  row-gap: 1.06rem;
}

.link {
  letter-spacing: 0.15em;
  color: var(--color-white);
  text-decoration: none;
  transition: color 300ms;
}

.link:hover,
.link:focus-visible {
  color: var(--color-orange);
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
  }
}
