.nav {
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.26rem;
}

.link {
  letter-spacing: 0.15em;
  color: var(--color-white);
  text-decoration: none;
  transition: color 300ms;
}

.link:hover,
.link:focus-visible {
  color: var(--color-orange);
}
