.header {
  background-color: var(--color-very-dark);
  padding: 2.13rem 0;
  border-bottom: solid 1px var(--color-white-opacity-10);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBtn,
.cartBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.nav {
  display: none;
}

@media (min-width: 768px) {
  .inner {
    justify-content: start;
  }

  .menuBtn {
    margin-right: 2.8rem;
  }

  .cartBtn {
    margin-left: auto;
  }
}
