.about {
  padding: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.img {
  margin-bottom: 2.6rem;
}

.img img {
  width: 100%;
  border-radius: 0.5rem;
  max-height: 20rem;
  object-fit: cover;
}

.content {
  max-width: 38.2rem;
  margin: 0 auto;
}

.title {
  font-size: 1.86rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2.13rem;
}

.highlight {
  color: var(--color-orange);
}

.desc {
  opacity: 50%;
}

@media (min-width: 768px) {
  .about {
    padding: 6.4rem 0;
  }

  .img {
    margin-bottom: 4.2rem;
  }

  .img img {
    max-height: 39.2rem;
  }

  .title {
    font-size: 2.66rem;
  }
}

@media (min-width: 1200px) {
  .about {
    padding: 13.3rem 0;
    flex-direction: row;
    gap: 8.33rem;
    text-align: left;
    align-items: center;
  }

  .img {
    width: 54.8%;
    margin-bottom: 0;
  }

  .content {
    width: 45%;
  }
}
