.productSectionTwo {
  background-image: var(--image-mobile);
  padding: 6.73rem 1.6rem;
  color: var(--color-black);
  background-size: cover;
  background-position: center center;
}

.title {
  margin-bottom: 2.13rem;
}
