.hero {
  padding-top: 7.2rem;
  padding-bottom: 7.46rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-very-dark);
  position: relative;
  z-index: -2;
}

.hero::before {
  content: "";
  background-image: var(--image-mobile);
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.inner > * {
  max-width: 25.2rem;
  margin: 0 auto;
}

.newProduct {
  color: var(--color-white);
  opacity: 49.65%;
  margin-bottom: 1.06rem;
}

.title {
  margin-bottom: 1.6rem;
}

.desc {
  opacity: 75%;
  margin-bottom: 1.86rem;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 8.4rem;
    padding-bottom: 11.13rem;
  }
  .hero::before {
    background-image: var(--image-tablet);
  }
  .newProduct {
    margin-bottom: 1.6rem;
  }

  .desc {
    margin-bottom: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .hero::before {
    display: none;
  }
  .hero {
    text-align: left;
    background-image: var(--image-desktop);
    background-size: cover;
    background-position: center calc(50% - 4rem);
  }

  .inner > * {
    margin-left: 0;
  }
}
