.wrapper {
  background-color: var(--color-white);
}
.mobileMenu {
  padding: 5.6rem 0 2.13rem;
}

@media (min-width: 768px) {
  .mobileMenu {
    padding: 7.2rem 0 4.46rem;
  }
}

@media (min-width: 1200px) {
  .mobileMenu {
    display: none;
  }
}
