.footer {
  background-color: var(--color-very-dark);
  padding: 3.46rem 2.53rem;
  text-align: center;
  position: relative;
}

.footer::before {
  content: "";
  width: 101px;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 0px;
  background-color: var(--color-orange);
  transform: translateX(-50%);
}

.logo {
  margin-bottom: 3.2rem;
}
.nav {
  margin-bottom: 3.2rem;
}

.desc,
.copyright {
  color: var(--color-white);
  opacity: 50%;
  margin-bottom: 3.2rem;
  display: block;
}

.socialList {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  gap: 1.06rem;
}

.socialItem {
  cursor: pointer;
}

.socialIcon path {
  transition: fill 300ms;
}

.socialIcon:hover path {
  fill: var(--color-orange);
}

@media (min-width: 768px) {
  .footer {
    padding: 4rem 0 3.06rem;
    text-align: left;
  }

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .footer::before {
    left: 5%;
    transform: translateX(0);
  }

  .logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .logo,
  .nav {
    margin-bottom: 2.14rem;
  }

  .nav {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .desc {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .copyright {
    margin-bottom: 0;
  }

  .copyright {
    grid-column: 1 / 2;
    grid-row: 4 / -1;
  }

  .socialList {
    grid-column: 2 / -1;
    grid-row: 4 / -1;
    justify-content: end;
  }
}
